@use "./fonts" as *;
@use 'sass:color';

// Healthcare color scheme
$primary-color: #4C8CFF; // Soft Blue for trust and clarity
$accent-color: #4CAF50; // Fresh Green for health and safety
$background-color: #F4F6F8; // Light Gray for a neutral and clean background
$text-color: #333333; // Dark Gray for readability
$border-color: #D1D3D4; // Light Gray for form borders

$button-hover-color: color.scale($primary-color, $lightness: -10%); // Slightly darker for hover effect

$font-family: 'Roboto', sans-serif;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
