@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.patient-list {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.25rem 1rem;

    @include tablet {
        padding: 2rem 1.5rem;
    }

    &__title {
        @include mobile-header;
        text-align: left;
        padding: 1rem;
        color: $accent-color;
        margin: 0;
        @include tablet {
            @include tablet-header;
            padding: 1.5rem;
          }
          @include desktop {
            padding: 2rem;
          }
      }

      &__add-button {
        @include button-style($primary-color); 
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 0.875rem; 
      
        @include tablet {
          font-size: 1rem;
          padding: 0.75rem 1.25rem;
        }
      
        @include desktop {
          font-size: 1.125rem;
          padding: 1rem 1.5rem;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: white;
        border: 1px solid $border-color; 
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        margin-bottom: 1rem;
        @include tablet{
            padding: 1.5rem;
        }
      }
  }
  
